.tabs{
  @apply grid grid-cols-5 sm:gap-[20px] gap-[160px] my-[20px] overflow-y-auto;
  &__items{
    @apply bg-white rounded-[10px]
    flex justify-center items-center h-[75px] sm:w-full w-[140px];

    &__content{
      @apply flex flex-col ml-1;
      h4{
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
      }
      span{
        font-size: 10px;
        font-weight: 600;
        color: #818181;
      }
    }
  }
}
